@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $violet;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-areas: "nav"
  "content";
  grid-template-rows: 120px 1fr;
  background: rgb(243, 243, 243);
}
.navigation {
  background: #C4C4C4;
  grid-area: nav;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
}
.navigation__logo {
  color: black;
  margin: 20px;
}
.navigation__title {
  font-size: 2rem;
  margin-left: 15px;
  display: inline-block;
}
.content {
  display: flex;
  justify-content: center;
  width: 800px;
  height: 100vh;
  margin: 0 auto;
  background: #C4C4C4;
  grid-area: content;
}
.wrapper {
  position: fixed;
  width: 700px;
  background: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  border-bottom: 1px solid black;
}
.input {
  border: none;
  font-size: 2.25rem;
  padding-left: 15px;
  outline: none;
}
.button {
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);  
  background: white;
  width: 240px;
  font-size: 2.25rem;
  cursor: pointer;
  margin: 4px;

}